# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# MacOS files
.DS_Store
